.env
reports/
node_modules/
testresults/
stats/
docs/*
.vagrant/
coverage/

*.tar.gz
*.tgz
*.swp
*.log
*.zat

checkstyle-result.xml
coverage.*
junit.xml
shippable/

public/
kubernetes
Dockerfile
Dockerfile.worker
docker-compose.yml
.git
.git-crypt
.idea
samples/
