extend layout
block header
block content
  .row
    .col-md-12
      .box.box-primary
        .box-header.with-border
          h3.box-title Welcome
        .box-body
          p
            |  Please get started by selecting a repository, from the menu on the left.

block javascript
