extend layout
block header
block content
  if repo.private
    .alert.alert-info.alert-dismissible
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      h4
        i.icon.fa.fa-info
        |  Hey - a quick note when it comes to security!
      |  This is a private repository.  We want you to know that we clone and scan your repository in a run-once docker conatiner, that is completely isolated from all other builds.
  .row
    .col-md-3
      .box.box-primary
        .box-header.with-border
          h3.box-title About
        .box-body
          if repo.description
            strong
              i.fa.fa-book.margin-r-5
              |  Description
            p.text-muted  #{repo.description}
            hr
          strong
            i.fa.fa-file-text-o.margin-r-5
            |  Notes
          p
            |  Some other information here?
    .col-md-9
      .box.box-primary
        .box-header.with-border
          h3.box-title Latest Scans
          .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
              i.fa.fa-minus
            |
            button.btn.btn-box-tool(type='button', data-widget='remove')
              i.fa.fa-times
        .box-body(style='display: block;')
          .table-responsive
            table.table.no-margin
              thead
                tr
                  th Scan ID
                  th Date/Time
                  th
                    .pull-right Status
              tbody
                if !scans.length
                  tr
                    td(colspan=3)
                      div.text-center There have not been any scans run against this repository!
                else
                  each scan in scans
                    tr
                      td
                        a(href='/repo/' + repo.fullName + '/' + scan.number) #{scan.number}
                      td 2017-04-08 11:34:02
                      td
                        span.label.label-success.pull-right #{scan.status}

        .box-footer.clearfix(style='display: block;')
          |
          a.btn.btn-sm.btn-success.btn-flat.pull-right(href='/repo/' + repo.fullName + '/new') Scan Now
block javascript
