extend layout
block header
  link(rel='stylesheet', href='/css/codemirror.min.css')
  link(rel='stylesheet', href='/css/codemirror-theme-material.min.css')

block content
  .alert.alert-info.alert-dismissible.scan-queued
    button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
    h4
      i.icon.fa.fa-info
      | Scanning...
    |  Scans are queued and the workers are shared with all other users.  You'll see a live stream here when the scan starts.
    p Once the scan completes, you'll automatically be sent back to the project overview.

  .row
    .col-md-12
      textarea#console
        | Hawkeye starting...
        |

block javascript
  script(src='/js/codemirror.min.js')
  script(src='/js/codemirror-shell.min.js')
  script(src='/js/console.min.js')
  script(src='/js/socket.io.min.js')
