extend layout
block header
  link(rel='stylesheet', href='/css/select2.min.css')

block content
  if repo.private
    .alert.alert-info.alert-dismissible
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      h4
        i.icon.fa.fa-info
        |  Hey - a quick note when it comes to security!
      |  This is a private repository.  We want you to know that we clone and scan your repository in a run-once docker conatiner, that is completely isolated from all other builds.
  else
    .alert.alert-info.alert-dismissible
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      h4
        i.icon.fa.fa-info
        | Get scanning!
      |  You can trigger a scan of this repository by hitting the Scan Now button, at the bottom of the page.

  .row
    .col-md-12
      .box.box-primary.collapsed-box#repoSettings
        .box-header.with-border
          h3.box-title Settings
          .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
              i.fa.fa-plus
        .box-body
          .row
            .col-md-4
              .form-group
                label Rescan Frequency
                |
                select#scanFrequency.form-control.select2(style='width: 100%;')
                  option(value='never', selected='selected') Never
                  option(value='hourly') Hourly
                  option(value='daily') Daily
                  option(value='weekly') Weekly
                  option(value='monthly') Monthly
            .col-md-4
              .form-group
                label Notify When
                |
                select#notifyWhen.form-control.select2(style='width: 100%;', disabled='disabled')
                  option(value='never', selected='selected') Never
                  option(value='change') When something changes
                  option(value='always') Always
            .col-md-4
              .form-group
                label Notification Email Address
                .input-group
                  .input-group-addon
                    i.fa.fa-envelope
                  |
                  input#emailNotification.form-control(type='text', disabled='disabled')

        .box-footer.clearfix
          |
          a.btn.btn-sm.btn-primary.btn-flat.pull-right#saveSchedule Save


  .row
    .col-md-5
      .box.box-primary#vulnModules
        .box-header.with-border
          h3.box-title Vulnerabilities by Severity
          .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
              i.fa.fa-minus
        .box-body
          .row
            .col-md-12
              .chart
                canvas
    .col-md-7
      .box.box-primary#scanHistory
        .box-header.with-border
          h3.box-title Recent Summary
          .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
              i.fa.fa-minus
        .box-body
          .row
            .col-md-12
              .chart
                canvas
          .box-footer
            .row
              .col-sm-3.col-xs-6
                .description-block.border-right
                  span.description-percentage.text-yellow
                    i.fa.fa-caret-left
                    |  0%
                  h5.description-header.high.low 0
                  |
                  span.description-text LOW
              .col-sm-3.col-xs-6
                .description-block.border-right
                  span.description-percentage.text-yellow
                    i.fa.fa-caret-left
                    |  0%
                  h5.description-header.medium 0
                  |
                  span.description-text MEDIUM
              .col-sm-3.col-xs-6
                .description-block.border-right
                  span.description-percentage.text-yellow
                    i.fa.fa-caret-left
                    |  0%
                  h5.description-header.high 0
                  |
                  span.description-text HIGH
              .col-sm-3.col-xs-6
                .description-block
                  span.description-percentage.text-yellow
                    i.fa.fa-caret-left
                    |  0%
                  h5.description-header.critical 0
                  |
                  span.description-text CRITICAL

  .row
    .col-md-12
      .box.box-primary#vulns
        .box-header.with-border
          h3.box-title Current Vulnerabilities
          .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
              i.fa.fa-minus
        .box-body
          .table-responsive
            table.table.table-bordered.table-striped
              thead
                tr
                  th Level
                  th Description
        .overlay
          i.fa.fa-refresh.fa-spin

  .row
    .col-md-12
      .box.box-primary#scans
        .box-header.with-border
          h3.box-title Latest Scans
          .box-tools.pull-right
            button.btn.btn-box-tool(type='button', data-widget='collapse')
              i.fa.fa-minus
        .box-body
          .table-responsive
            table.table.table-bordered.table-striped
              thead
                tr
                  th Scan ID
                  th Date/Time
                  th Reason
                  th C
                  th H
                  th M
                  th L
                  th
                    .pull-right Status
        .overlay
          i.fa.fa-refresh.fa-spin

        .box-footer.clearfix
          |
          a.btn.btn-sm.btn-primary.btn-flat.pull-right(href='/repo/' + repo.fullName + '/new') Scan Now

block javascript
  script(src='/js/chart.min.js')
  script(src='/js/showdown.min.js')
  script(src='/js/jquery.inputmask.bundle.min.js')
  script(src='/js/repo.min.js')
