doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Hawkeye
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    block header

  body
    block content

    script(src='/js/jquery-3.2.0.min.js')
    script(src='/js/socket.io.min.js')
    block javascript
